.footer {
    line-height: 1.5;
    height: 200px;
    background-color: #353535;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Myriad Pro Regular', sans-serif;
    &__contacts {
        
        h2 {
            font-size: 18pt;
            color: #ffffff;
            font-weight: bold;
        }
        p {
            font-size: 12pt;
            color: #F7F4F1;
        }
    }
    &__social {
        
        h2 {
            font-size: 18pt;
            color: #ffffff;
            font-weight: normal;
        }
        div {
            cursor: pointer;
            position: relative;
            display: inline-block;
            border: 1px solid #3f3f3f;
            height: 50px;
            width: 50px;
            &:nth-child(3){
            margin: 0  6px 0 6px;
            }
            img {
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    &__creater {
        
        h2 {
            font-size: 18pt;
            color: #ffffff;
            font-weight: normal;
        }
        &--button {
            cursor: pointer;
            height: 50px;
			width: 160px;
			border: 1px solid #4A4A4A;
            background-color: #353535;
            color: #ffffff;
            font-size: 15pt;
        }
    }
}