$navColor: #ffffff;
a {
	text-decoration: none;
	color: $navColor;
}
.main-nav__container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	max-width: 1300px;
}
.header {
	background-image: url(../img/back-desktop.jpg);
	height: 646px;
	.main-nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: black;
		padding: 0 100px 0 100px;
		&__items {
			width: 100%;
			display: flex;
			-webkit-justify-content: space-between; /* Safari */
 			justify-content: space-between;
			list-style-type: none;
			margin: 0;
			flex-wrap: wrap;
		}
		&__item {
			cursor: pointer;
			position: relative;
			color: #ffffff;
			font-size: 18pt;
			height: 45px;
			margin: 15px 0 1px 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			border-bottom: 3px solid rgba(0, 0, 255, 0.0);
			&:hover {
				border-bottom: solid 3px #826550;
			}
			
		}
		.login {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-around;
			color: $navColor;
			width: 80px;
			margin-left: 100px;
			
		}
	}
  .header__logo {
  	position: relative;
  	top: 5%;
  	width: 370px;
  	margin: 50px auto 0;
  }
	
}
