.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  .form {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #efefef;
		margin: 0 auto;
		width: 460px;
		height: 500px;
		top: 50%;
		margin-top: -250px;
		position: fixed;
		right: 50%;
		margin-right: -230px;
		&__login {
				height: 350px;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
			&--room {
				position: relative;
				text-align: center;	
				font-size: 30pt;
				font-family: 'Myriad Pro Regular', sans-serif;
				margin: 0;
			}
			&--paragraph {
				text-align: center;	
				font-size: 12pt;
				font-family: 'Myriad Pro Regular', sans-serif;
				color: #424141;
				margin: 0;
			}
			input[type] {
				padding: 0 0 0 25px;
				height: 65px;
				width: 320px;
				border: 0.5px solid #e5ddd5;
				margin: 0 auto 5px auto;
			}
			input[type=text] {
				background-image: url(../img/user.png);
    			background-position: 290px 25px;
   				background-repeat: no-repeat;
			}
			input[type=password] {
				background-image: url(../img/locked.png);
    			background-position: 290px 25px;
   				background-repeat: no-repeat;
			}
			input[placeholder] {
				font-size: 20pt;
				color: black;
			}
			
			#check {
				cursor: pointer;
				background-color: white;
				width: 33px;
				height: 33px;
				border: 0.5px solid #e5ddd5;
				margin-right: 15px;
			}
			
			.checkbox {
				margin: 0;
				width: 347px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				a {
					color: black;
					font-size: 14pt;
					font-family: 'Myriad Pro Regular', sans-serif;
				}
			}
			label {
				cursor: pointer;
				display: flex;
				align-items: center;
				span {
					font-size: 14pt;
					font-family: 'Myriad Pro Regular', sans-serif;
				}
			}
			input[type=button] {
				margin: 0;
				width: 347px;
				padding: 0;
				background-color: #826550;
				color: white;
				font-size: 14pt;
				font-family: 'Myriad Pro Regular', sans-serif;
				outline:none;
			}
		}
	}
    
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /*padding: 10px;*/
  /*border: 1px solid #888;*/
  width: 80%;
}
.close {
	position: relative;
	top: -50px;
	left: 480px;
	cursor: pointer;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}