.photo-content {
    //background-color: grey;
    max-width: 1300px;
    margin: 0 auto;
  &__1line {
	display: flex;
  	&__left {
  	  width: 50%;
  	  
  	  img {
  	  	width: 100%;
  	  }
  	}
  	&__right {
  	    position: relative;
  	    width: 50%;
		padding-top: 25px;
		padding-left: 40px;
		font-family: 'PT Sans Narrow', sans-serif;
		border: #e5ddd5 solid 1px;
		
	  .stiker {
	  	height: 50px;
	  	position: relative;
	  	margin-bottom: 50px;
	  	span {
			position: absolute;
			width: 136px;
			height: 50px;
			background-color: #826550;
			right: 0;
			color: #fff;
			font-size: 11pt;
			line-height: 50px;
			text-align: center;
			
	  	}
	  }
	  h3 {
	  	font-size: 27pt;
	  	color: black;
	  	font-weight: bolder;
	  	margin-bottom: 30px;
	  }
	  p {
	    font-size: 18pt;
	    color: black;
	    width: 60%;
	    margin-bottom: 30px;
	  }
	  .stikers__elements {
	      display: flex;
	      position: absolute;
	      bottom: 30px;
	      flex-wrap: wrap;
	      justify-content: space-between;
	      align-items: center;
	      width: 100%;
		  max-width: 400px;
		  font-size: 16pt;
		  font-weight: bold;
	      &--haircut {
	      	display: flex;
	      	align-items: center;
	      	img {
	      		margin-right: 10px;
	      	}
	      }
	      &--briton {
	      	display: flex;
	      	align-items: center;
	      	img {
	      		margin-right: 10px;
	      	}
	      }
	      &--mustache {
	      	display: flex;
	      	align-items: center;
	      	img {
	      		margin-right: 10px;
	      	}
	      }
	  }
  	}
  }
  &__2line {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 100px;
	&__options {
		margin-top: 30px;
		width: 30%;
		border: #e5ddd5 solid 1px;
		
		&--mainImage {
			width: 100%;
			img {
			width: 100%;
			}
		}
		&__content {
			position: relative;
			height: 300px;
			h3 {
				font-size: 18pt;
				padding-left: 40px;
				line-height: 60pt;
				font-weight: bold;
			}
			p {
				font-size: 18pt;
				padding-left: 40px;
				line-height: 21pt;
				font-weight: normal;
			}
			.stikers__elements {
				display: flex;
				align-items: center;
				position: absolute;
				bottom: 30px;
				justify-content: space-between;
				max-width: 300px;
				width: 100%;
				&--haircut {
					display: flex;
					align-items: center;
					padding-left: 40px;
					img {
						margin-right: 10px;
					}
				}
				&--briton {
					display: flex;
					align-items: center;
					padding-left: 40px;
					img {
						margin-right: 10px;
					}
					
				}
			}
		}
	}
  }

  &__price {
  	display: flex;
  	max-width: 1300px;
  	width: 100%;
  	justify-content: space-between;
  	margin: 0 auto;
  	background-color: #353535;
  	  &__table {
				//background-color: grey;
				width: 60%;
  	  	&--title {
					color: #fff;
					font-size: 40pt;
					font-family:'PT Sans Narrow', sans-serif;
					margin-top: 75px;
					font-weight: bold;
  	  	}
  	  	table {
  	  		border-collapse: collapse;
					width: 100%;
					margin-top: 50px;
					height: 270px;
  	  		tr {
  	  			
  	  			text-align: center;
  	  			td {
  	  				border: 1px solid #4a4a4a;
  	  				line-height: 50px;
  	  				min-width: 50px;
  	  				color: #fff;
  	  				font-size: 20pt;
  	  			}
  	  			td:nth-child(1) {
  	  				color: #4a4a4a;
  	  			}
  	  			td:nth-child(4) {
  	  				color: #d7d7d7;
  	  			}
  	  		}
  	  	}
  		}
	  &__clock {
				//background-color: grey;
				width: 38%;
				height: 270px;
				margin: 0 auto;
				border: 1px solid #4a4a4a;
				margin-top: 177px;
				.clock-img {
					margin: 0 auto;
					//background-color: blue;
					width: 170px;
					margin-top: 25px;
					img {
						margin-left: 13px;
					}
					p {
						color: #c9c9c9;
						text-align: center;
						margin-top: 30px;
						font-size: 20pt;
						font-family:'PT Sans Narrow', sans-serif;
					}
				}
  	}
	}
}
.price {
	background-color: #353535;
	padding-bottom: 100px;
}