.content {
  background-color: #353535; }

.stats {
  position: relative;
  top: -143px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .stats__left {
    padding: 35px 10px 29px 10px;
    text-align: left;
    /*height: 280px;*/
    width: 300px;
    background-color: #ffffff; }
    .stats__left b {
      line-height: 0.8;
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 35pt; }
    .stats__left p {
      line-height: 1.2;
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 20pt; }
    .stats__left small {
      line-height: 3; }
  .stats__right .stats-items {
    border-collapse: collapse; }
    .stats__right .stats-items tbody {
      display: flex;
      flex-wrap: wrap;
      width: 640px; }
      .stats__right .stats-items tbody tr {
        background-color: #404040;
        height: 143px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .stats__right .stats-items tbody tr .items__value {
          color: #ffffff;
          font-size: 60pt; }
        .stats__right .stats-items tbody tr .items__field {
          color: #c6c4c2;
          font-size: 12pt;
          line-height: 0.9; }
      .stats__right .stats-items tbody tr:nth-child(2) {
        background-color: #4e4e4e; }
      .stats__right .stats-items tbody tr:nth-child(3) {
        background-color: #353535; }

.feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .feature__slider {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .feature__slider .advantage1 {
      margin-bottom: 20px;
      object-fit: none;
      object-position: 0 0;
      width: 95px;
      height: 94px; }
    .feature__slider .advantage2 {
      margin-bottom: 20px;
      object-fit: none;
      object-position: 0 -94px;
      width: 95px;
      height: 88px; }
    .feature__slider .advantage3 {
      margin-bottom: 20px;
      object-fit: none;
      object-position: 0 -182px;
      width: 95px;
      height: 88px; }
    .feature__slider h2 {
      color: #ffffff;
      font-size: 25pt;
      font-family: 'Myriad Pro Regular', sans-serif; }
    .feature__slider p {
      line-height: 1.5;
      color: #f7f4f1;
      font-size: 10pt;
      font-family: 'Myriad Pro Regular', sans-serif; }
  .feature__border {
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a; }
