.main-nav__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex; }

.header {
  background-image: url(../img/back-desktop.jpg);
  height: 646px; }
  .header .main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black; }
    .header .main-nav__items {
      display: flex;
      -webkit-justify-content: space-between;
      /* Safari */
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      flex-wrap: wrap; }
    .header .main-nav__item {
      cursor: pointer;
      position: relative;
      color: #ffffff;
      font-size: 18pt;
      height: 45px;
      margin: 15px 50px 1px auto;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .header .main-nav__item:hover {
        border-bottom: solid 3px #826550; }
    .header .main-nav .login {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #ffffff;
      width: 80px;
      margin-right: 10px; }
  .header .header__logo {
    position: relative;
    top: 5%;
    width: 370px;
    margin: 50px auto 0; }
