.photo-content {
  max-width: 1300px;
  margin: 0 auto; }
  .photo-content__1line {
    display: flex; }
    .photo-content__1line__left {
      width: 50%; }
      .photo-content__1line__left img {
        width: 100%; }
    .photo-content__1line__right {
      position: relative;
      width: 50%;
      padding-top: 25px;
      padding-left: 40px;
      font-family: 'PT Sans Narrow', sans-serif;
      border: #e5ddd5 solid 1px; }
      .photo-content__1line__right .stiker {
        height: 50px;
        position: relative;
        margin-bottom: 50px; }
        .photo-content__1line__right .stiker span {
          position: absolute;
          width: 136px;
          height: 50px;
          background-color: #826550;
          right: 0;
          color: #fff;
          font-size: 11pt;
          line-height: 50px;
          text-align: center; }
      .photo-content__1line__right h3 {
        font-size: 27pt;
        color: black;
        font-weight: bolder;
        margin-bottom: 30px; }
      .photo-content__1line__right p {
        font-size: 18pt;
        color: black;
        width: 60%;
        margin-bottom: 30px; }
      .photo-content__1line__right .stikers__elements {
        display: flex;
        position: absolute;
        bottom: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 400px;
        font-size: 16pt;
        font-weight: bold; }
        .photo-content__1line__right .stikers__elements--haircut {
          display: flex;
          align-items: center; }
          .photo-content__1line__right .stikers__elements--haircut img {
            margin-right: 10px; }
        .photo-content__1line__right .stikers__elements--briton {
          display: flex;
          align-items: center; }
          .photo-content__1line__right .stikers__elements--briton img {
            margin-right: 10px; }
        .photo-content__1line__right .stikers__elements--mustache {
          display: flex;
          align-items: center; }
          .photo-content__1line__right .stikers__elements--mustache img {
            margin-right: 10px; }
  .photo-content__2line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 100px; }
    .photo-content__2line__options {
      margin-top: 30px;
      width: 30%;
      border: #e5ddd5 solid 1px; }
      .photo-content__2line__options--mainImage {
        width: 100%; }
        .photo-content__2line__options--mainImage img {
          width: 100%; }
      .photo-content__2line__options__content {
        position: relative;
        height: 300px; }
        .photo-content__2line__options__content h3 {
          font-size: 18pt;
          padding-left: 40px;
          line-height: 60pt;
          font-weight: bold; }
        .photo-content__2line__options__content p {
          font-size: 18pt;
          padding-left: 40px;
          line-height: 21pt;
          font-weight: normal; }
        .photo-content__2line__options__content .stikers__elements {
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 30px;
          justify-content: space-between;
          max-width: 300px;
          width: 100%; }
          .photo-content__2line__options__content .stikers__elements--haircut {
            display: flex;
            align-items: center;
            padding-left: 40px; }
            .photo-content__2line__options__content .stikers__elements--haircut img {
              margin-right: 10px; }
          .photo-content__2line__options__content .stikers__elements--briton {
            display: flex;
            align-items: center;
            padding-left: 40px; }
            .photo-content__2line__options__content .stikers__elements--briton img {
              margin-right: 10px; }
  .photo-content__price {
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #353535; }
    .photo-content__price__table {
      width: 60%; }
      .photo-content__price__table--title {
        color: #fff;
        font-size: 40pt;
        font-family: 'PT Sans Narrow', sans-serif;
        margin-top: 75px;
        font-weight: bold; }
      .photo-content__price__table table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 50px;
        height: 270px; }
        .photo-content__price__table table tr {
          text-align: center; }
          .photo-content__price__table table tr td {
            border: 1px solid #4a4a4a;
            line-height: 50px;
            min-width: 50px;
            color: #fff;
            font-size: 20pt; }
          .photo-content__price__table table tr td:nth-child(1) {
            color: #4a4a4a; }
          .photo-content__price__table table tr td:nth-child(4) {
            color: #d7d7d7; }
    .photo-content__price__clock {
      width: 38%;
      height: 270px;
      margin: 0 auto;
      border: 1px solid #4a4a4a;
      margin-top: 177px; }
      .photo-content__price__clock .clock-img {
        margin: 0 auto;
        width: 170px;
        margin-top: 25px; }
        .photo-content__price__clock .clock-img img {
          margin-left: 13px; }
        .photo-content__price__clock .clock-img p {
          color: #c9c9c9;
          text-align: center;
          margin-top: 30px;
          font-size: 20pt;
          font-family: 'PT Sans Narrow', sans-serif; }

.price {
  background-color: #353535;
  padding-bottom: 100px; }
